%h3 Useful Stuff
%ul.navigation
  %li
    #{link_to '8051/R31JP Info',useful_stuff_r31jp_path}
  %li
    #{link_to 'BurnIt',useful_stuff_burnit_path}
  %li
    #{link_to 'Amulet Module',useful_stuff_amulet_path}
  %li
    #{link_to 'MultiMedio',useful_stuff_multimedio_path}
  %li
    #{link_to 'Datasheets',useful_stuff_datasheets_path}
  %li
    #{link_to 'Common Problems',useful_stuff_problems_path}
  %li
    #{link_to 'LaTeX Materials',useful_stuff_latex_path}
  %li
    #{link_to 'Final Project Ideas',useful_stuff_ideas_path}
  %li 
    #{link_to 'Final Project Parts',useful_stuff_parts_path}
  %li
    #{link_to 'Miscellaneous',useful_stuff_misc_path}

