
%h2.title Course Information
.inner
  :markdown
    Lectures
    ---------
    * Lectures are at TR1 in 34-101.  Chalk Talks are held most weeks at W3 in 34-101.  You are expected to attend all lectures and chalk talks.

    Course Calendar
    ---------
    * is on the #{link_to "calendar", root_path} page.

    Handouts
    --------
    * Extra labs and datasheets are available in the filing cabinet near 38-683.  The labs will not be made available online; datasheets can be found #{link_to root_path} here.
    * Lecture notes are only distributed in lecture. They will not be posted here or placed in the filing cabinet.

    Staff Members
    ----------

    ###Lecturer
    * Professor Steven Leeb, Rm 10-069 - #{mail_to 'sbleeb@mit.edu'}

    ### Teaching Assistants - Office 38-691, x3-1938
  
    *If you have a question regarding a lab or administrative issues, you can reach all of the TAs at #{mail_to '6.115-tas@mit.edu'}.* 
    *Lab hours for each week will be posted on the [Announcements](#{root_path}) Page*

    * Dan Vickery
    * BJ Thompson
    * Al Avestruz


    ### Lab Assistants

    * Kesavan Yogeswaran
    * Michael Ciuffo
    * Robin Deits
    * Krishna Settaluri
    * Paul Hlebowitsh

